﻿@{
    ViewData["Title"] = "Privacy Policy";
}


<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/favicon.ico>
    <title>dreams-ui</title>
    <link rel=stylesheet href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel=stylesheet href=https://cdn.jsdelivr.net/npm/@@mdi/font@latest/css/materialdesignicons.min.css>
    <link href=~/js/about.a9aceb5f.js rel=prefetch>
    <link href=~/css/chunk-vendors.25dd933d.css rel=preload as= style>
    <link href=~/js/app.31e5c66e.js rel=preload as=script>
    <link href=~/js/chunk-vendors.41741bb2.js rel=preload as=script>
    <link href=~/css/chunk-vendors.25dd933d.css rel=stylesheet>
</head>
<body>
    <noscript><strong>We're sorry but dreams-ui doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript><div id=app></div>
    <script src=~/js/chunk-vendors.41741bb2.js></script>
    <script src=~/js/app.31e5c66e.js></script>
</body>
</html>